.masked-image {
  position: relative;
  display: inline-block;
}

.masked-image::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 10;
  filter: none;
  -webkit-mask-image: radial-gradient(
    circle var(--radius) at var(--x) var(--y),
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: radial-gradient(
    circle var(--radius) at var(--x) var(--y),
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
}

/* motion-carousel */
.motion-carousel {
  overflow: hidden;

  gap: 1em;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.motion-carousel-content-horizontal {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-right: 1em;
}

.motion-carousel-content-vertical {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;
}

.motion-carousel-item {
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes infinite-move-horizontal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes infinite-move-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

/* end motion-carousel */

/* Text svg */

.motion-text-svg {
  animation: textContainer linear both;
}

@keyframes textContainer {
  from {
    opacity: 0;
    transform: scale(0.5);
    filter: blur(4px);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }
}

.motion-text-svg path {
  fill: transparent;
  stroke: var(--color-base-content);
  stroke-width: 7px;

  filter: drop-shadow(0 0 2px var(--color-base-content));

  animation: svgAnimation both;
  animation-timeline: view(50% 10%);
}

@keyframes svgAnimation {
  0% {
    stroke-dashoffset: 120;
    stroke-dasharray: 100;
  }

  60% {
    fill: transparent;
  }

  100% {
    fill: var(--color-base-content);
    stroke-dashoffset: 10;
    stroke-dasharray: 10;
    stroke-width: 0;
  }
}
/* end Text svg */

/* Reveal text */
.motion-reveal-text {
  display: inline-flex;
  gap: 0.05em;
}

.motion-reveal-text-content {
  display: inline-block;
  opacity: 0;

  animation: revel-animation both;
  animation-timeline: view(5% 0%);
  animation-duration: 2s;
}

@keyframes revel-animation {
  0% {
    opacity: 0;
    transform: translateX(-10px) scale(1.2);
    filter: blur(5px);
  }
  50% {
    opacity: 1;
    transform: translateX(0) scale(1);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
    filter: blur(5px);
  }
}

/* end Reveal text */
