@import url("https://fonts.cdnfonts.com/css/space-grotesk");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.cdnfonts.com/css/inter");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #0a0a0f;
  --color-base-200: #14141c;
  --color-base-300: #202028;
  --color-base-content: oklch(96% 0.007 247.896);
  --color-primary: oklch(67% 0.182 276.935);
  --color-primary-content: oklch(26% 0.079 36.259);
  --color-secondary: oklch(0% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(79% 0.209 151.711);
  --color-accent-content: oklch(26% 0.065 152.934);
  --color-neutral: oklch(44% 0.043 257.281);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
