/* 4. Parallax */
.parallax-layer {
  overflow-y: clip;
  position: relative;
}
.parallax-layer::after {
  content: "";
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, var(--color-base-100), transparent);
  width: 100%;
  height: 100px;
  position: absolute;
}

.paralax-bg {
  position: sticky;
  top: 10%;
}

/* Zoom in on scroll */

.zoom-card-container {
  height: 300vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.zoom-card {
  width: 80%;
  height: 300px;
  background: #ff8b94;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  position: sticky;
  top: 40%;

  animation: zoomInScroll linear both;
  animation-timeline: view(10% 40%);
  transform-origin: center;
  z-index: 10;
}

@keyframes zoomInScroll {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}
